@use "../partials/functions";

.fight {
  position: relative;
  background-image: url('../../../assets/imgs/cynthia-background.jpg');
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;

  &__enemy,
  &__player {
    display: flex;
    justify-content: space-between;
  }

  &__enemy {
    flex-direction: row-reverse;
    height: 568px;

    .battle-zone {
      width: 700px;
    }
  }

  &__player {
    align-items: flex-end;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }
}