@use "../partials/functions";

.fight {
  @media screen and (max-width: 1024px) and (orientation: portrait) {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: var(--dark-grey);
    padding: 20px;
  }

  @media screen and (max-width: 991px) and (orientation: landscape) {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    background: var(--dark-grey);
  }

  @media screen and (max-width: 767px) and (orientation: portrait) {
    padding: 10px;
  }

  &__container {
    position: relative;
    background-image: url('../../../assets/imgs/cynthia-background.jpg');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 100svh;

    @media screen and (max-width: 1024px) and (orientation: portrait) {
      background-image: url('../../imgs/cynthia-background-tablet-mobile.jpg');
      height: 50svh;
      border: 8px solid var(--black);
    }

    @media screen and (max-width: 1024px) {
      background-image: url('../../imgs/cynthia-background-tablet-mobile.jpg');
    }

    @media screen and (max-width: 991px) and (orientation: landscape) {
      width: 60%;
      height: 100%;
    }

    @media screen and (max-width: 767px) and (orientation: portrait) {
      aspect-ratio: 256/192;
      height: auto;
      max-height: 50svh;
    }
  }

  &--entering-animation {
    .fight {
      &__enemy {
        .battle-zone {
          animation: slideLeft 3s;

          @keyframes slideLeft {
            0% {
              transform: translateX(100%);
            }
            100% {
              transform: translateX(0);
            }
          }
        }

        .hud {
          transform: translateX(-100%);
          animation: slideLeftHud 0.2s 3s;

          @media screen and (max-width: 1024px) and (orientation: portrait) {
            animation: none;
            transform: none;

            .hp-bar {
              transform: translateX(-100%);
              animation: slideLeftHud 0.2s 3s;
            }
          }

          @keyframes slideLeftHud {
            0% {
              transform: translateX(-100%);
            }
            100% {
              transform: translateX(0);
            }
          }
        }
      }

      &__player {
        .battle-zone {
          animation: slideRight 3s;

          @keyframes slideRight {
            0% {
              transform: translateX(-100%);
            }
            100% {
              transform: translateX(-8%);
            }
          }

          @media screen and (max-width: 991px) {
            animation: slideRightMobile 3s;

            @keyframes slideRightMobile {
              0% {
                transform: translateX(-100%);
              }
              100% {
                transform: translateX(-16%);
              }
            }
          }
        }

        .hud {
          transform: translateX(100%);
          animation: slideRightHud 0.2s 3s;

          @media screen and (max-width: 1024px) and (orientation: portrait) {
            animation: none;
            transform: none;

            .hp-bar {
              transform: translateX(100%);
              animation: slideRightHud 0.2s 3s;
            }
          }

          @keyframes slideRightHud {
            0% {
              transform: translateX(100%);
            }
            100% {
              transform: translateX(0);
            }
          }
        }
      }

      &__moves-mobile {
        .moves {
          display: none;
        }
      }
    }
  }

  &__enemy,
  &__player {
    display: flex;
  }

  &__enemy {
    flex-direction: row-reverse;
    height: 568px;

    @media screen and (max-width: 1439px) {
      height: 39.44vw; // 568px in 1440px
    }

    .battle-zone {
      width: 700px;

      @media screen and (max-width: 1439px) {
        width: 48.61vw; // 700px in 1440px
      }

      @media screen and (max-width: 991px) and (orientation: landscape) {
        width: 26vw !important;
        justify-content: flex-start !important;
      }

      @media screen and (max-width: 991px) {
        width: 37vw;
        justify-content: center;
      }

      @media screen and (max-width: 767px) and (orientation: portrait) {
        width: 48.61vw; // 700px in 1440px
      }
    }
  }

  &__player {
    position: absolute;
    z-index: 3;
    left: 0;
    bottom: 0;
    width: 100%;

    .battle-zone {
      @media screen and (max-width: 1439px) {
        width: 69.44vw; // 1000px in 1440px
      }

      @media screen and (max-width: 991px) and (orientation: landscape) {
        width: 40vw !important;
      }

      @media screen and (max-width: 991px) {
        width: 58vw;
      }

      @media screen and (max-width: 767px) and (orientation: portrait) {
        width: 69.44vw; // 1000px in 1440px
      }
    }
  }

  &__overlay {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__buttons {
    position: fixed;
    z-index: 9999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: functions.rem(40);

    @media screen and (max-width: 991px) {
      width: 250px;
      gap: functions.rem(20);
    }
  }

  .popin:not(.settings__popin) {
    pointer-events: none;
  }

  .settings {
    position: fixed;
    top: functions.rem(40);
    right: functions.rem(40);

    @media screen and (max-width: 991px) and (orientation: landscape) {
      top: functions.rem(10);
      right: functions.rem(10);
    }

    @media screen and (max-width: 991px) and (orientation: portrait) {
      top: functions.rem(30);
      right: functions.rem(30);
    }
  }
}