@use "../partials/fonts";
@use "../partials/functions";

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../../../assets/imgs/cynthia-background.webp');
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;

  @media screen and (max-width: 1024px) and (orientation: landscape) and (max-height: 600px) {
    background-image: url('../../imgs/cynthia-background-tablet-mobile.webp');
    justify-content: center;
    gap: 0;
    padding-top: 0;
  }

  @media screen and (max-width: 1024px) {
    background-image: url('../../imgs/cynthia-background-tablet-mobile.webp');
  }

  @media screen and (max-width: 991px) and (orientation: landscape) {
    justify-content: flex-end !important;
    padding-top: 0 !important;
  }

  @media screen and (max-width: 991px) {
    justify-content: center;
    gap: 0;
    padding-top: functions.rem(75);
  }

  @media screen and (max-width: 767px) {
    padding-top: 0;
  }

  &__header {
    position: fixed;
    z-index: 9997;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    padding: functions.rem(30) functions.rem(40) 0;

    @media screen and (max-width: 991px) and (orientation: landscape) {
      padding: functions.rem(20) functions.rem(20) 0;
    }

    @media screen and (max-width: 767px) {
      padding: functions.rem(20) functions.rem(20) 0;
    }
  }

  &__title {
    font-size: functions.rem(74);
    color: var(--white);
    text-align: center;
    max-width: 480px;
    text-shadow: functions.rem(3.72) functions.rem(3.72) 0 var(--text-shadow-grey), 0 functions.rem(3.72) 0 var(--text-shadow-grey), functions.rem(3.72) 0 0 var(--text-shadow-grey);

    @media screen and (max-width: 767px) {
      font-size: functions.rem(37);
      text-shadow: functions.rem(2) functions.rem(2) 0 var(--text-shadow-grey), 0 functions.rem(2) 0 var(--text-shadow-grey), functions.rem(2) 0 0 var(--text-shadow-grey);
      max-width: 240px;
    }

    @media screen and (max-width: 1024px) and (orientation: landscape) and (max-height: 600px) {
      font-size: 8svh;
      text-shadow: 0.4svh 0.4svh 0 var(--text-shadow-grey), 0 0.4svh 0 var(--text-shadow-grey), 0.4svh 0 0 var(--text-shadow-grey);
      max-width: 50svh;
    }

    span {
      font-size: functions.rem(48);

      @media screen and (max-width: 767px) {
        font-size: functions.rem(24);
      }

      @media screen and (max-width: 1024px) and (orientation: landscape) and (max-height: 600px) {
        font-size: 5.2svh;
      }
    }
  }

  &__title,
  span {
    font-family: fonts.$power-clear;
    font-weight: 700;
    line-height: 0.77;
  }

  .settings {
    margin-top: functions.rem(10);

    @media screen and (max-width: 991px) and (orientation: landscape) {
      margin-top: 0;
    }

    @media screen and (max-width: 767px) {
      margin-top: 0;
    }
  }

  .battle-zone {
    width: 460px;
    height: 388px;
    margin: 0 auto;

    @media screen and (max-width: 767px) {
      aspect-ratio: 460/388;
      width: 80%;
      height: auto;
    }

    @media screen and (max-width: 1024px) and (orientation: landscape) and (max-height: 600px) {
      width: 50svh;
      height: 42svh;
    }

    @media screen and (max-width: 991px) and (orientation: landscape) {
      width: functions.rem(180);
      height: functions.rem(152);
    }
  }

  &__party {
    display: flex;
    align-items: center;
    gap: functions.rem(140);
    width: fit-content;

    @media screen and (max-width: 991px) {
      flex-direction: column;
      gap: functions.rem(40);
      padding: 0 functions.rem(20);
    }

    @media screen and (max-width: 1024px) and (orientation: landscape) and (max-height: 600px) {
      flex-direction: row;
      gap: 15svh;
      padding: 0 3svh;
    }
  }

  &__left {
    position: relative;

    .button {
      position: absolute;
      left: 50%;
      bottom: -30px;
      transform: translate(-50%, 100%);

      @media screen and (max-width: 1024px) and (orientation: landscape) and (max-height: 600px) {
        position: absolute;
        left: 50%;
        bottom: -3svh;
        transform: translate(-50%, 100%);
      }

      @media screen and (max-width: 991px) and (orientation: landscape) {
        position: relative;
        left: 0;
        bottom: 0;
        transform: none;
        margin: functions.rem(20) auto functions.rem(30) !important;
      }

      @media screen and (max-width: 991px) {
        position: relative;
        left: 0;
        bottom: 0;
        transform: none;
        margin: functions.rem(20) auto 0;
      }
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    gap: functions.rem(40);

    @media screen and (max-width: 991px) {
      width: 100%;
      gap: functions.rem(20);
    }

    @media screen and (max-width: 1024px) and (orientation: landscape) and (max-height: 600px) {
      gap: 4svh;
    }

    @media screen and (max-width: 991px) and (orientation: landscape) {
      gap: functions.rem(20);
    }
  }

  .developer {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 60px;
    box-shadow: functions.rem(-4) functions.rem(4) 0 0 var(--black), functions.rem(4) functions.rem(4) 0 0 var(--black), functions.rem(4) functions.rem(-4) 0 0 var(--black), functions.rem(-4) functions.rem(-4) 0 0 var(--black), 8px 0 0 0 var(--black), -8px 0 0 0 var(--black), 0 -8px 0 0 var(--black), 0 8px 0 0 var(--black);
    transition: transform 0.2s;

    &:before {
      content: "";
      position: absolute;
      inset: 0;
      pointer-events: none;
      background:
        linear-gradient(var(--black) 0 0) top left,
        linear-gradient(var(--black) 0 0) top right,
        linear-gradient(var(--black) 0 0) bottom left,
        linear-gradient(var(--black) 0 0) bottom right;
      background-repeat: no-repeat;
      background-size: functions.rem(4) functions.rem(4);
    }

    @media screen and (max-width: 991px) and (orientation: landscape) {
      right: functions.rem(10);
      bottom: functions.rem(10);
      width: 40px;
      box-shadow: functions.rem(-2.5) functions.rem(2.5) 0 0 var(--black), functions.rem(2.5) functions.rem(2.5) 0 0 var(--black), functions.rem(2.5) functions.rem(-2.5) 0 0 var(--black), functions.rem(-2.5) functions.rem(-2.5) 0 0 var(--black), 5px 0 0 0 var(--black), -5px 0 0 0 var(--black), 0 -5px 0 0 var(--black), 0 5px 0 0 var(--black);

      &:before {
        background-size: functions.rem(2.5) functions.rem(2.5);
      }
    }

    @media screen and (max-width: 767px) {
      right: functions.rem(10);
      bottom: functions.rem(10);
      width: 40px;
      box-shadow: functions.rem(-2.5) functions.rem(2.5) 0 0 var(--black), functions.rem(2.5) functions.rem(2.5) 0 0 var(--black), functions.rem(2.5) functions.rem(-2.5) 0 0 var(--black), functions.rem(-2.5) functions.rem(-2.5) 0 0 var(--black), 5px 0 0 0 var(--black), -5px 0 0 0 var(--black), 0 -5px 0 0 var(--black), 0 5px 0 0 var(--black);

      &:before {
        background-size: functions.rem(2.5) functions.rem(2.5);
      }
    }

    &:hover,
    &:focus {
      transform: scale(0.8);
    }

    &:focus {
      outline: none;
    }
  }
}