.pc {
  position: relative;
  display: flex;
  align-items: center;
  background: url("../../imgs/pc/pc-pattern.jpg") fixed;

  &__system {
    display: flex;
    align-items: flex-end;
  }

  &__loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}