@use "../partials/functions";

.pc {
  display: flex;
  align-items: center;
  width: 100svw;
  background: url("../../imgs/pc/pc-pattern.webp") fixed;
  overflow: hidden;

  &__system {
    position: relative;
    display: flex;
    align-items: flex-end;

    .button {
      position: absolute;
      right: calc(222px + 80px);
      bottom: 0;
      transform: translateY(-12px);
      width: 410px;
      height: 93px;
      font-size: functions.rem(56);
      -webkit-text-stroke: functions.rem(9) var(--black);
      box-shadow: functions.rem(-6.2) functions.rem(6.2) 0 0 var(--black), functions.rem(6.2) functions.rem(6.2) 0 0 var(--black), functions.rem(6.2) functions.rem(-6.2) 0 0 var(--black), functions.rem(-6.2) functions.rem(-6.2) 0 0 var(--black), 0.65vw 0 0 0 var(--black), -0.65vw 0 0 0 var(--black), 0 -0.65vw 0 0 var(--black), 0 0.65vw 0 0 var(--black);

      &:before {
        background-size: functions.rem(6.2) functions.rem(6.2);
      }

      @media screen and (max-width: 1799px) {
        right: 18.33vw;
        transform: translateY(-0.62vw);
        width: 21.35vw;
        height: 4.84vw;
        font-size: 2.92vw;
        -webkit-text-stroke: 0.47vw var(--black);
        box-shadow: -0.32vw 0.32vw 0 0 var(--black), 0.32vw 0.32vw 0 0 var(--black), 0.32vw -0.32vw 0 0 var(--black), -0.32vw -0.32vw 0 0 var(--black), 0.65vw 0 0 0 var(--black), -0.65vw 0 0 0 var(--black), 0 -0.65vw 0 0 var(--black), 0 0.65vw 0 0 var(--black);

        &:before {
          background-size: 0.32vw 0.32vw;
        }
      }

      @media screen and (max-width: 1024px) {
        right: 23vw;
        transform: translateY(-0.95vw);
        width: 34vw !important;
        height: 7.6vw !important;
        font-size: 4.4vw !important;
        -webkit-text-stroke: 0.65vw var(--black);
        box-shadow: -0.47vw 0.47vw 0 0 var(--black), 0.47vw 0.47vw 0 0 var(--black), 0.47vw -0.47vw 0 0 var(--black), -0.47vw -0.47vw 0 0 var(--black), 0.95vw 0 0 0 var(--black), -0.95vw 0 0 0 var(--black), 0 -0.95vw 0 0 var(--black), 0 0.95vw 0 0 var(--black) !important;

        &:before {
          background-size: 0.47vw 0.47vw;
        }
      }

      @media screen and (max-width: 1024px) and (orientation: landscape) and (max-height: 600px) {
        right: 29svh;
        transform: translateY(-1.3svh);
        width: 47svh !important;
        height: 10.5svh !important;
        font-size: 7.8svh !important;
        -webkit-text-stroke: 0.95svh var(--black);
        box-shadow: -0.88svh 0.88svh 0 0 var(--black), 0.88svh 0.88svh 0 0 var(--black), 0.88svh -0.88svh 0 0 var(--black), -0.88svh -0.88svh 0 0 var(--black), 1.25svh 0 0 0 var(--black), -1.25svh 0 0 0 var(--black), 0 -1.25svh 0 0 var(--black), 0 1.25svh 0 0 var(--black) !important;

        &:before {
          background-size: 0.88svh 0.88svh;
        }
      }
    }
  }

  &__loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}