@use '../../partials/functions';
@use '../../partials/mixins';

.popin {
  position: fixed;
  z-index: 9998;

  &__button {
    position: fixed;
    z-index: 9999;
    transition: transform 0.2s;
    @include mixins.resetButton(none, none);
    top: functions.rem(40);
    right: functions.rem(40);

    @media screen and (max-width: 991px) and (orientation: landscape) {
      width: 30px;
      top: functions.rem(20);
      right: functions.rem(20);
    }

    @media screen and (max-width: 767px) {
      width: 30px;
      top: functions.rem(20);
      right: functions.rem(20);
    }

    &:hover,
    &:focus {
      transform: scale(0.8);
    }

    &:focus {
      outline: none;
    }
  }
}