@use "../../partials/functions";

.text-box {
  position: fixed;
  z-index: 9998;
  left: 0;
  width: 100%;
  background: var(--dark-transparent);
  color: var(--white);
  line-height: 0.81;
  overflow-y: auto;

  &--middle {
    top: 0;
    height: 100%;
    padding: functions.rem(70) functions.rem(100);

    @media screen and (max-width: 1280px) {
      padding: functions.rem(70) functions.rem(40);
    }

    @media screen and (max-width: 767px) {
      padding: functions.rem(40) functions.rem(20) functions.rem(20);
    }
  }

  &--bottom {
    bottom: 0;
    width: 100%;
    padding: functions.rem(52) functions.rem(100);

    @media screen and (max-width: 1280px) {
      padding: functions.rem(46) functions.rem(40);
    }

    @media screen and (max-width: 767px) {
      padding: functions.rem(30) functions.rem(20);
    }
  }

  h2 {
    text-align: center;
    font-size: functions.rem(60);
    font-weight: 400;
    margin-bottom: functions.rem(40);

    @media screen and (max-width: 991px) {
      font-size: functions.rem(48);
      margin-bottom: functions.rem(30);
    }

    @media screen and (max-width: 767px) {
      font-size: functions.rem(40);
      margin-bottom: functions.rem(20);
    }
  }

  > div:not(.credits__content) {
    display: flex;
    flex-direction: column;
    gap: functions.rem(40);
    font-size: functions.rem(36);

    @media screen and (max-width: 1280px) {
      gap: functions.rem(30);
    }

    @media screen and (max-width: 991px) {
      gap: functions.rem(20);
      font-size: functions.rem(32);
    }

    @media screen and (max-width: 767px) {
      gap: functions.rem(10);
      font-size: functions.rem(28);
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: functions.rem(5);

    li {
      list-style-type: initial;
      margin-left: functions.rem(30);
      font-size: functions.rem(36);

      @media screen and (max-width: 991px) {
        font-size: functions.rem(32);
      }

      @media screen and (max-width: 767px) {
        font-size: functions.rem(28);
      }
    }
  }
}