@use "../../partials/functions";

.battle-zone {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;

  &--back {
    transform: translateX(-8%);
    overflow: hidden;

    @media screen and (max-width: 991px) {
      transform: translateX(-16%);
    }
  }

  &__pseudo {
    color: var(--white);
    font-size: functions.rem(56);
    text-shadow: functions.rem(3) functions.rem(3) 0 var(--text-shadow-grey), 0 functions.rem(3) 0 var(--text-shadow-grey), functions.rem(3) 0 0 var(--text-shadow-grey);

    @media screen and (max-width: 991px) and (orientation: landscape) {
      font-size: functions.rem(32);
      text-shadow: functions.rem(1.8) functions.rem(1.8) 0 var(--text-shadow-grey), 0 functions.rem(1.8) 0 var(--text-shadow-grey), functions.rem(1.8) 0 0 var(--text-shadow-grey);
    }

    @media screen and (max-width: 767px) {
      font-size: functions.rem(32);
      text-shadow: functions.rem(1.8) functions.rem(1.8) 0 var(--text-shadow-grey), 0 functions.rem(1.8) 0 var(--text-shadow-grey), functions.rem(1.8) 0 0 var(--text-shadow-grey);
    }
  }

  &__sprite {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: functions.rem(10);
    width: 100%;
    transform: translateY(calc(25% - functions.rem(10)));
  }

  &__image {
    width: 100%;
  }
}