@use "../../partials/functions";

.hud {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: functions.rem(16);

  &:has(.hp-bar--enemy) {
    top: 125px;
    left: 0;

    @media screen and (max-width: 1439px) {
      top: 8.68vw; // 125px in 1440px
    }

    @media screen and (max-width: 991px) and (orientation: landscape) {
      top: 4.86vw; // 70px in 1440px
      width: 29vw;
    }

    @media screen and (max-width: 767px) and (orientation: portrait) {
      width: 45vw;
    }
  }

  &:has(.hp-bar--player) {
    right: 0;
    bottom: 0;

    @media screen and (max-width: 1024px) and (orientation: portrait) {
      bottom: 8.68vw; // 125px in 1440px

      .moves {
        display: none;
      }
    }

    @media screen and (max-width: 991px) and (orientation: landscape) {
      bottom: 4.86vw; // 70px in 1440px
      width: 30vw;

      .moves {
        display: none;
      }
    }

    @media screen and (max-width: 767px) and (orientation: portrait) {
      width: 50vw;
    }
  }
}