@use '../../partials/functions';
@use '../../partials/mixins';

.move {
  position: relative;
  @include mixins.resetButton(none, none);
  width: 100%;

  &:disabled {
    opacity: 0.3 !important;
    cursor: not-allowed;
  }

  &:hover {
    opacity: 0.7;
  }

  &__name {
    position: absolute;
    top: 22.15%;
    left: 50%;
    transform: translateX(-50%);
    font-size: functions.rem(32);
    color: var(--cream);
    line-height: 1;
    text-shadow:
      -#{functions.rem(1.85)} -#{functions.rem(1.85)} 0 var(--grey),
      #{functions.rem(1.85)} -#{functions.rem(1.85)} 0 var(--grey),
      -#{functions.rem(1.85)} #{functions.rem(1.85)} 0 var(--grey),
      #{functions.rem(1.85)} #{functions.rem(1.85)} 0 var(--grey),
      0 -#{functions.rem(1.85)} 0 var(--grey),
      0 #{functions.rem(1.85)} 0 var(--grey),
      -#{functions.rem(1.85)} 0 0 var(--grey),
      #{functions.rem(1.85)} 0 0 var(--grey);
    letter-spacing: 0.07em;

    @media screen and (max-width: 1439px) {
      font-size: 2.22vw; // 32px in 1440px
      text-shadow:
        -0.13vw -0.13vw 0 var(--grey),
        0.13vw -0.13vw 0 var(--grey),
        -0.13vw 0.13vw 0 var(--grey),
        0.13vw 0.13vw 0 var(--grey),
        0 -0.13vw 0 var(--grey),
        0 0.13vw 0 var(--grey),
        -0.13vw 0 0 var(--grey),
        0.13vw 0 0 var(--grey);
    }

    @media screen and (max-width: 1024px) and (orientation: portrait) {
      font-size: 5.2vw;
      text-shadow:
        -0.26vw -0.26vw 0 var(--grey),
        0.26vw -0.26vw 0 var(--grey),
        -0.26vw 0.26vw 0 var(--grey),
        0.26vw 0.26vw 0 var(--grey),
        0 -0.26vw 0 var(--grey),
        0 0.26vw 0 var(--grey),
        -0.26vw 0 0 var(--grey),
        0.26vw 0 0 var(--grey);
    }
  }

  &__pp {
    position: absolute;
    right: 25.2%;
    bottom: 22.47%;
    font-size: functions.rem(32);
    color: var(--pp-black);
    line-height: 1;
    text-shadow: functions.rem(1) functions.rem(2) 0 var(--pp-shadow), 0 functions.rem(2) 0 var(--pp-shadow), functions.rem(1) 0 0 var(--pp-shadow);

    @media screen and (max-width: 1439px) {
      font-size: 2.22vw; // 32px in 1440px
      text-shadow: 0.07vw 0.14vw 0 var(--pp-shadow), 0 0.14vw 0 var(--pp-shadow), 0.07vw 0 0 var(--pp-shadow);
    }

    @media screen and (max-width: 1024px) and (orientation: portrait) {
      font-size: 4.8vw;
      text-shadow: 0.18vw 0.32vw 0 var(--pp-shadow), 0 0.32vw 0 var(--pp-shadow), 0.18vw 0 0 var(--pp-shadow);
    }
  }

  &__background {
    width: 100%;

    &::selection {
      background: none;
    }
  }
}

.moves__move:last-child {
  .move__pp {
    bottom: 24%;
  }
}