@use "../../partials/functions";

.moves {
  display: flex;
  flex-wrap: wrap;
  gap: functions.rem(8);
  width: 510px;
  height: fit-content;
  margin: 0 functions.rem(4) functions.rem(25) 0;

  @media screen and (max-width: 1439px) {
    gap: 0.56vw; // 8px in 1440px
    width: 35.42vw; // 510px in 1440px
    margin: 0 0.28vw 1.74vw 0; // 25px and 4px in 1440px
  }

  &--hidden {
    opacity: 0;
    pointer-events: none;
  }

  &__move {
    width: calc(50% - (functions.rem(8)/ 2));
    height: fit-content;

    @media screen and (max-width: 1439px)  {
      width: calc(50% - (0.56vw/ 2));
    }
  }
}

.fight {
  &__moves-mobile {
    display: none;
    background: var(--dark-transparent);
    border: 8px solid var(--black);

    @media screen and (max-width: 1024px) and (orientation: portrait) {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
      padding: 3.91vw;
      max-height: calc(50svh - 60px);
    }

    @media screen and (max-width: 767px) {
      aspect-ratio: 256/192;
      max-height: calc(50svh - 40px);
      flex: initial;
    }

    .moves {
      height: 100%;
      margin: 0;

      @media screen and (max-width: 1024px) and (orientation: portrait) {
        justify-content: center;
        align-content: center;
        gap: 1.5vw;
        width: 100%;
      }

      @media screen and (max-width: 768px) {
        gap: 2.5vw;
      }

      &__move {
        @media screen and (max-width: 1024px) and (orientation: portrait) {
          width: calc(45% - (1.5vw / 2));
        }

        @media screen and (max-width: 768px) {
          width: calc(48% - (2.5vw / 2));
        }
      }
    }
  }
}