@use "../../partials/functions";
@use "../../partials/fonts";

.pokemon-details {
  position: relative;
  display: flex;
  width: fit-content;

  @media screen and (max-width: 1799px) {
    width: 28.28vw;
  }

  @media screen and (max-width: 1024px) {
    width: 39.52vw;
  }

  @media screen and (max-width: 1024px) and (orientation: landscape) and (max-height: 600px) {
    width: 51.63vh;
  }

  &__name {
    position: absolute;
    top: 3.46%; // 30px
    left: 1.38%; // 7px
    color: var(--white);
    font-size: functions.rem(37);
    font-weight: 400;
    text-transform: uppercase;
    text-shadow: 4.5px 4.5px 0 var(--text-shadow-dark-grey), 0 4.5px 0 var(--text-shadow-dark-grey), 4.5px 0 0 var(--text-shadow-dark-grey);

    @media screen and (max-width: 1799px) {
      font-size: 2.06vw;
      text-shadow: 0.25vw 0.25vw 0 var(--text-shadow-dark-grey), 0 0.25vw 0 var(--text-shadow-dark-grey), 0.25vw 0 0 var(--text-shadow-dark-grey);
    }

    @media screen and (max-width: 1024px) {
      font-size: 2.89vw;
      text-shadow: 0.35vw 0.35vw 0 var(--text-shadow-dark-grey), 0 0.35vw 0 var(--text-shadow-dark-grey), 0.35vw 0 0 var(--text-shadow-dark-grey);
    }

    @media screen and (max-width: 1024px) and (orientation: landscape) and (max-height: 600px) {
      font-size: 4.19vh;
      text-shadow: 0.5vh 0.5vh 0 var(--text-shadow-dark-grey), 0 0.5vh 0 var(--text-shadow-dark-grey), 0.5vh 0 0 var(--text-shadow-dark-grey);
    }
  }

  &__pokedex-id {
    display: flex;
    align-items: flex-end;
    position: absolute;
    top: 11.32%; // 98px
    right: 26.72%; // 136px

    img {
      margin-bottom: 5px;

      @media screen and (max-width: 1799px) {
        width: 2.78vw;
        margin-bottom: 0.28vw;
      }

      @media screen and (max-width: 1024px) {
        width: 3.89vw;
        margin-bottom: 0.39vw;
      }

      @media screen and (max-width: 1024px) and (orientation: landscape) and (max-height: 600px) {
        width: 4.88vh;
        margin-bottom: 0.5vh;
      }
    }

    p {
      color: var(--white);
      font-family: fonts.$pokemon-classic;
      font-size: functions.rem(38);
      letter-spacing: -3.43px;
      text-align: right;
      text-shadow: 4.5px 4.5px 0 var(--text-shadow-dark-grey), 0 4.5px 0 var(--text-shadow-dark-grey), 4.5px 0 0 var(--text-shadow-dark-grey);

      @media screen and (max-width: 1799px) {
        font-size: 2.11vw;
        letter-spacing: -0.19vw;
        text-shadow: 0.25vw 0.25vw 0 var(--text-shadow-dark-grey), 0 0.25vw 0 var(--text-shadow-dark-grey), 0.25vw 0 0 var(--text-shadow-dark-grey);
      }

      @media screen and (max-width: 1024px) {
        font-size: 2.94vw;
        letter-spacing: -0.27vw;
        text-shadow: 0.35vw 0.35vw 0 var(--text-shadow-dark-grey), 0 0.35vw 0 var(--text-shadow-dark-grey), 0.35vw 0 0 var(--text-shadow-dark-grey);
      }

      @media screen and (max-width: 1024px) and (orientation: landscape) and (max-height: 600px) {
        font-size: 3.72vh;
        letter-spacing: -0.35vh;
        text-shadow: 0.5vh 0.5vh 0 var(--text-shadow-dark-grey), 0 0.5vh 0 var(--text-shadow-dark-grey), 0.5vh 0 0 var(--text-shadow-dark-grey);
      }
    }
  }

  &__preview {
    position: absolute;
    top: 22.4%; // 194px
    left: 2.75%; // 14px
    display: flex;
    justify-content: center;
    align-items: center;
    width: 73.67%; // 375px
    height: 42.73%; // 370px
  }

  .input {
    position: absolute;
    left: 1.38%; // 7px
    bottom: 24.83%; // 215px
  }

  &__level {
    position: absolute;
    left: 6.88%; // 35px
    bottom: 19.56%; // 167px
    display: flex;
    align-items: flex-end;
    pointer-events: none;

    img {
      margin-bottom: 5px;

      @media screen and (max-width: 1799px) {
        width: 2vw;
        margin-bottom: 0.28vw;
      }

      @media screen and (max-width: 1024px) {
        width: 2.78vw;
        margin-bottom: 0.39vw;
      }

      @media screen and (max-width: 1024px) and (orientation: landscape) and (max-height: 600px) {
        width: 3.49vh;
        margin-bottom: 0.5vh;
      }
    }

    p {
      color: var(--white);
      font-family: fonts.$pokemon-classic;
      font-size: functions.rem(36);
      letter-spacing: -3.43px;
      text-align: right;
      text-shadow: 4.5px 4.5px 0 var(--text-shadow-dark-grey), 0 4.5px 0 var(--text-shadow-dark-grey), 4.5px 0 0 var(--text-shadow-dark-grey);
      margin-left: 5px;

      @media screen and (max-width: 1799px) {
        font-size: 2.06vw;
        letter-spacing: -0.19vw;
        text-shadow: 0.25vw 0.25vw 0 var(--text-shadow-dark-grey), 0 0.25vw 0 var(--text-shadow-dark-grey), 0.25vw 0 0 var(--text-shadow-dark-grey);
        margin-left: 0.28vw;
      }

      @media screen and (max-width: 1024px) {
        font-size: 2.89vw;
        letter-spacing: -0.27vw;
        text-shadow: 0.35vw 0.35vw 0 var(--text-shadow-dark-grey), 0 0.35vw 0 var(--text-shadow-dark-grey), 0.35vw 0 0 var(--text-shadow-dark-grey);
        margin-left: 0.39vw;
      }

      @media screen and (max-width: 1024px) and (orientation: landscape) and (max-height: 600px) {
        font-size: 3.49vh;
        letter-spacing: -0.35vh;
        text-shadow: 0.5vh 0.5vh 0 var(--text-shadow-dark-grey), 0 0.5vh 0 var(--text-shadow-dark-grey), 0.5vh 0 0 var(--text-shadow-dark-grey);
      }
    }
  }
}