@use "../../partials/functions";
@use "../../partials/mixins";

.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  -webkit-text-stroke: functions.rem(6) var(--black);
  padding: 0 functions.rem(15);
  paint-order: stroke fill;
  white-space: nowrap;

  @media screen and (max-width: 1024px) and (orientation: landscape) and (max-height: 600px) {
    -webkit-text-stroke: 0.8svh var(--black);
  }

  @media screen and (max-width: 991px) {
    -webkit-text-stroke: functions.rem(4) var(--black);
  }

  &:before {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    background:
      linear-gradient(var(--black) 0 0) top left,
      linear-gradient(var(--black) 0 0) top right,
      linear-gradient(var(--black) 0 0) bottom left,
      linear-gradient(var(--black) 0 0) bottom right;
    background-repeat: no-repeat;
  }

  &--red {
    @include mixins.resetButton(none, var(--gradient-red));

    &:hover,
    &:focus {
      background: linear-gradient(0deg, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.20) 100%), var(--red);
    }
  }

  &--green {
    @include mixins.resetButton(none, var(--gradient-green));

    &:hover,
    &:focus {
      background: linear-gradient(0deg, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.20) 100%), var(--green);
    }
  }

  &--blue {
    @include mixins.resetButton(none, var(--gradient-blue));

    &:hover,
    &:focus {
      background: linear-gradient(0deg, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.20) 100%), var(--blue);
    }
  }

  &--big,
  &--small {
    @media screen and (max-width: 991px) {
      width: 100% !important;
    }

    @media screen and (max-width: 767px) {
      height: functions.rem(44) !important;
      font-size: functions.rem(32) !important;
      box-shadow: functions.rem(-2) functions.rem(2) 0 0 var(--black), functions.rem(2) functions.rem(2) 0 0 var(--black), functions.rem(2) functions.rem(-2) 0 0 var(--black), functions.rem(-2) functions.rem(-2) 0 0 var(--black), functions.rem(4) 0 0 0 var(--black), functions.rem(-4) 0 0 0 var(--black), 0 functions.rem(-4) 0 0 var(--black), 0 functions.rem(4) 0 0 var(--black) !important;

      &:before {
        background-size: functions.rem(2) functions.rem(2) !important;
      }
    }

    @media screen and (max-width: 1024px) and (orientation: landscape) and (max-height: 600px) {
      width: 36svh !important;
      height: 8svh !important;
      font-size: 5.6svh !important;
      box-shadow: -0.55svh 0.55svh 0 0 var(--black), 0.55svh 0.55svh 0 0 var(--black), 0.55svh -0.55svh 0 0 var(--black), -0.55svh -0.55svh 0 0 var(--black), 1.1svh 0 0 0 var(--black), -1.1svh 0 0 0 var(--black), 0 -1.1svh 0 0 var(--black), 0 1.1svh 0 0 var(--black) !important;

      &:before {
        background-size: 0.55svh 0.55svh !important;
      }
    }

    @media screen and (max-width: 991px) and (orientation: landscape) {
      width: functions.rem(130) !important;
      height: functions.rem(32) !important;
      font-size: functions.rem(22) !important;
      box-shadow: functions.rem(-2.5) functions.rem(2.5) 0 0 var(--black), functions.rem(2.5) functions.rem(2.5) 0 0 var(--black), functions.rem(2.5) functions.rem(-2.5) 0 0 var(--black), functions.rem(-2.5) functions.rem(-2.5) 0 0 var(--black), functions.rem(5) 0 0 0 var(--black), functions.rem(-5) 0 0 0 var(--black), 0 functions.rem(-5) 0 0 var(--black), 0 functions.rem(5) 0 0 var(--black) !important;

      &:before {
        background-size: functions.rem(2.5) functions.rem(2.5) !important;
      }
    }
  }

  &--big {
    width: functions.rem(265);
    height: functions.rem(60);
    font-size: functions.rem(40);
    box-shadow: functions.rem(-4) functions.rem(4) 0 0 var(--black), functions.rem(4) functions.rem(4) 0 0 var(--black), functions.rem(4) functions.rem(-4) 0 0 var(--black), functions.rem(-4) functions.rem(-4) 0 0 var(--black), 8px 0 0 0 var(--black), -8px 0 0 0 var(--black), 0 -8px 0 0 var(--black), 0 8px 0 0 var(--black);

    &:before {
      background-size: functions.rem(4) functions.rem(4);
    }

    @media screen and (max-width: 991px) {
      height: functions.rem(53);
      font-size: functions.rem(36);
      box-shadow: -3.5px 3.5px 0 0 var(--black), 3.5px 3.5px 0 0 var(--black), 3.5px -3.5px 0 0 var(--black), -3.5px -3.5px 0 0 var(--black), 7px 0 0 0 var(--black), -7px 0 0 0 var(--black), 0 -7px 0 0 var(--black), 0 7px 0 0 var(--black);

      &:before {
        background-size: 3.5px 3.5px;
      }
    }

    @media screen and (max-width: 1024px) and (orientation: landscape) and (max-height: 600px) {
      width: 40svh;
      height: 8.5svh;
      font-size: 6svh;
      box-shadow: -0.6svh 0.6svh 0 0 var(--black), 0.6svh 0.6svh 0 0 var(--black), 0.6svh -0.6svh 0 0 var(--black), -0.6svh -0.6svh 0 0 var(--black), 1.2svh 0 0 0 var(--black), -1.2svh 0 0 0 var(--black), 0 -1.2svh 0 0 var(--black), 0 1.2svh 0 0 var(--black);

      &:before {
        background-size: 0.6svh 0.6svh;
      }
    }

    @media screen and (max-width: 991px) and (orientation: landscape) {
      width: functions.rem(150) !important;
      height: functions.rem(34) !important;
      font-size: functions.rem(24) !important;
      box-shadow: functions.rem(-2.5) functions.rem(2.5) 0 0 var(--black), functions.rem(2.5) functions.rem(2.5) 0 0 var(--black), functions.rem(2.5) functions.rem(-2.5) 0 0 var(--black), functions.rem(-2.5) functions.rem(-2.5) 0 0 var(--black), functions.rem(5) 0 0 0 var(--black), functions.rem(-5) 0 0 0 var(--black), 0 functions.rem(-5) 0 0 var(--black), 0 functions.rem(5) 0 0 var(--black);

      &:before {
        background-size: functions.rem(2.5) functions.rem(2.5);
      }
    }
  }

  &--small {
    width: functions.rem(234);
    height: functions.rem(53);
    font-size: functions.rem(36);
    box-shadow: -3.5px 3.5px 0 0 var(--black), 3.5px 3.5px 0 0 var(--black), 3.5px -3.5px 0 0 var(--black), -3.5px -3.5px 0 0 var(--black), 7px 0 0 0 var(--black), -7px 0 0 0 var(--black), 0 -7px 0 0 var(--black), 0 7px 0 0 var(--black);

    &:before {
      background-size: 3.5px 3.5px;
    }

    @media screen and (max-width: 1024px) and (orientation: landscape) and (max-height: 600px) {
      width: 35svh;
      height: 8svh;
      font-size: 2.7svh;
      box-shadow: -0.55svh 0.55svh 0 0 var(--black), 0.55svh 0.55svh 0 0 var(--black), 0.55svh -0.55svh 0 0 var(--black), -0.55svh -0.55svh 0 0 var(--black), 1.1svh 0 0 0 var(--black), -1.1svh 0 0 0 var(--black), 0 -1.1svh 0 0 var(--black), 0 1.1svh 0 0 var(--black);

      &:before {
        background-size: 0.55svh 0.55svh;
      }
    }

    @media screen and (max-width: 991px) and (orientation: landscape) {
      width: functions.rem(120);
      height: functions.rem(32);
      font-size: functions.rem(20);
      box-shadow: functions.rem(-2.5) functions.rem(2.5) 0 0 var(--black), functions.rem(2.5) functions.rem(2.5) 0 0 var(--black), functions.rem(2.5) functions.rem(-2.5) 0 0 var(--black), functions.rem(-2.5) functions.rem(-2.5) 0 0 var(--black), functions.rem(5) 0 0 0 var(--black), functions.rem(-5) 0 0 0 var(--black), 0 functions.rem(-5) 0 0 var(--black), 0 functions.rem(5) 0 0 var(--black);

      &:before {
        background-size: functions.rem(2.5) functions.rem(2.5);
      }
    }
  }
}