@use "../../partials/functions";

.input {
  &__field {
    width: 380px;
    height: 65px;
    background: transparent;
    border: none;
    color: var(--white);
    font-size: functions.rem(74);
    font-weight: 400;
    line-height: 1;
    text-shadow: functions.rem(4.5) functions.rem(4.5) 0 var(--text-shadow-dark-grey), 0 functions.rem(4.5) 0 var(--text-shadow-dark-grey), functions.rem(4.5) 0 0 var(--text-shadow-dark-grey);

    @media screen and (max-width: 1799px) {
      width: 21.11vw;
      height: 3.61vw;
      font-size: 4.12vw;
      text-shadow: 0.25vw 0.25vw 0 var(--text-shadow-dark-grey), 0 0.25vw 0 var(--text-shadow-dark-grey), 0.25vw 0 0 var(--text-shadow-dark-grey);
    }

    @media screen and (max-width: 1024px) {
      width: 29.44vw;
      height: 5.04vw;
      font-size: 5.78vw;
      text-shadow: 0.35vw 0.35vw 0 var(--text-shadow-dark-grey), 0 0.35vw 0 var(--text-shadow-dark-grey), 0.35vw 0 0 var(--text-shadow-dark-grey);
    }

    @media screen and (max-width: 1024px) and (orientation: landscape) and (max-height: 600px) {
      width: 37.21svh;
      height: 6.37svh;
      font-size: 8.38svh;
      text-shadow: 0.5vh 0.5vh 0 var(--text-shadow-dark-grey), 0 0.5vh 0 var(--text-shadow-dark-grey), 0.5vh 0 0 var(--text-shadow-dark-grey);
    }

    &:focus {
      outline: none;
    }
  }
}