.range {
  appearance: none;
  width: 300px;
  height: 12px;
  cursor: pointer;
  border-radius: 5px;

  &::-webkit-slider-thumb {
    appearance: none;
    border: none;
    background: var(--green);
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }

  &::-moz-range-thumb {
    appearance: none;
    border: none;
    background: var(--green);
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
}