@use '../../partials/functions';
@use '../../partials/mixins';

.settings {
  @include mixins.resetButton(none, none);
  z-index: 10001;
  margin-top: 10px;

  @media screen and (max-width: 767px) {
    width: 30px;
    margin-top: 0;
  }

  &__popin {
    z-index: 10000;

    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: functions.rem(32);

      li {
        display: flex;
        align-items: center;
        gap: functions.rem(20);
        list-style: none;
      }
    }
  }
}